@model Models.ModelViewIssue

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Issue.Id" />
            <div class="form-group">
                <label asp-for="SelectedOperatorId" class="control-label">Operator</label>
                <select asp-for="SelectedOperatorId" class="form-control" id="customerDropdown" data-val="true" data-val-required="Selecteer een Operator.">
                    @foreach (var user in Model.Operators)
                    {
                        <option value="@user.Id">@user.Firstname</option>
                    }
                </select>
            </div>
            @* <div class="form-group">
                <label asp-for="SelectedOperatorId" class="control-label">Operator</label>
                <select asp-for="SelectedOperatorId" class="form-control" id="customerDropdown" data-val="true" data-val-required="Selecteer een Operator.">
                    @foreach (var user in Model.Operators)
                    {
                        <option value="@user.Id">@user.Firstname</option>
                    }
                </select>
            </div> *@

            <div class="form-group">
                <label asp-for="Issue.PicturePath" class="control-label"></label>
                <input asp-for="Issue.PicturePath" class="form-control" />
                <span asp-validation-for="Issue.PicturePath" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Issue.State" /> @Html.DisplayNameFor(model => model.Issue.State)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Createdate" class="control-label"></label>
                <input asp-for="Issue.Createdate" class="form-control" />
                <span asp-validation-for="Issue.Createdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Resolveddate" class="control-label"></label>
                <input asp-for="Issue.Resolveddate" class="form-control" />
                <span asp-validation-for="Issue.Resolveddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.X1" class="control-label"></label>
                <input asp-for="Issue.X1" class="form-control" />
                <span asp-validation-for="Issue.X1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.X2" class="control-label"></label>
                <input asp-for="Issue.X2" class="form-control" />
                <span asp-validation-for="Issue.X2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Y1" class="control-label"></label>
                <input asp-for="Issue.Y1" class="form-control" />
                <span asp-validation-for="Issue.Y1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Y2" class="control-label"></label>
                <input asp-for="Issue.Y2" class="form-control" />
                <span asp-validation-for="Issue.Y2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
